<%= form_with(model: namespace, local: true) do |form| %>
  <% if namespace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(namespace.errors.count, "error") %> prohibited this namespace from being saved:</h2>

      <ul>
      <% namespace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_field :team %>
  </div>

  <div class="field">
    <%= form.label :application %>
    <%= form.text_field :application %>
  </div>

  <div class="field">
    <%= form.label :environment %>
    <%= form.text_field :environment %>
  </div>

  <div class="field">
    <%# form.label :deleted_at %>
    <%# form.datetime_select :deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
