<!DOCTYPE html>
<html>
  <head>
    <title>ConfigPrototype</title>
    <%# Gon::Base.render_data %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag "pages/#{params[:controller]}/#{params[:action]}" %>

    <style>
      body {
        background-color: #ECF0F1;
      }

      .page-login {
        margin-top: 25px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
